@model IEnumerable<MarketPlace.Models.product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="@Url.Action("Create", "products")">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nameproduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockquantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nameproduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockquantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.productid">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.productid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
